.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.features a {
  color: var(--ifm-color-primary);
  text-decoration: none;
  font-weight: 600;
}

.features a:hover {
  text-decoration: underline;
}
